@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
        @apply font-bold
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    a {
        @apply text-black underline;
    }

    input,
    textarea {
        @apply border border-gray-400 rounded-sm p-2
    }

    ::file-selector-button {
        background-color: rgb(234, 234, 234);
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        border: 0px;
        color: rgb(59 130 246);
    }

    label {
        @apply font-bold
    }
}



@tailwind components;

@tailwind utilities;